body{
    background-color: black;
}

h1{
    text-align: center;
    color: white;
    position: absolute;
    top:1px;
    left: 500px;
    font-weight:bolder;
    font-size: 50px;
}

.questions{
    position: absolute;
    width: 700px;
    height: 40px;
    background-color:white;
    left:225px ;
    top: 100px;
    text-align: center;
    padding-top: 16px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bolder;
}

.answers{
    position: absolute;
    background-color: black;
    text-align: center;
    top: 200px;
    left:225px ;
    width: 710px;
    height: 400px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 20px;

}

label{
    display: inline-block;
    background-color:white;
    width: 600px;
    height: 35px;
    margin-top: 25px;
    text-align: center;
    padding-top: 15px;
    color:black;
    border-radius: 20px;

}

.sidbar{
    position: fixed;
    text-align: center;
    right: 30px;
    top:50px;
    background-color:black;
    width: 400px;
    height: 700px;
    border-radius: 30px;
    color:white;
    border: 3px solid white;
}


.previous{
    position: absolute;
    bottom:150px ;
    left: 30px;
    width: 125px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;

}

.number{
    position: absolute;
    bottom:100px ;
    left: 30px;
    width: 125px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.next{
    position: absolute;
    bottom:50px ;
    left: 30px;
    width: 125px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.mark{
    position: absolute;
    bottom: 70px;
    left: 525px;
    width: 125px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}


.submit{
    position: absolute;
    bottom: 70px;
    left: 950px;
    width: 125px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: yellow;
}

.timer{
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: black;
    width: 150px;
    height: 60px;
    text-align: center;
    color: white;
    padding-top: 10px;
    border-radius: 30px;
    font-size: 40px;
    border: solid white;

}


input[type="radio"]:checked + label {
  background: pink;
}

input[type="radio"]{
    appearance: unset;
}
