body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    position: fixed;
    top:5px;
    left: 700px;
    font-style: italic;
    font-weight:bolder;
    font-size: 50px;
    
}


p{
    text-align: center;
    color:white;
    position: fixed;
    top:80px;
    left: 395px;
    font-style: italic;
    font-weight:bolder;
    font-size: 50px;
}

img{
    position: absolute;
    top: 250px;
    left: 450px;
    width: 650px;
    border-radius: 300px;

}