body{
    color: white;
    background-color: black;
}

img {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;    
  height: 100vh;   
  object-fit: cover;
  z-index: -1;
  margin: 0;
  padding: 0;
}

h1{
    font-size: xx-large;
    font-size: 40px;
    margin-left: 40px;
}

.welcome{
    font-size: xx-large;
    font-size: 30px;
    margin-left: 270px;
}

.Read{
    font-size: xx-large;
    font-size: 30px;
    margin-left: 70px;
}

.list{
    font-size: xx-large;
    font-size: 20px;
    margin-left: 50px;
}

li{
    margin-bottom: 15px;
}

.div{
    font-size: xx-large;
    font-size: 20px;
    margin-left: 260px;
}

.div1{
    margin-bottom: 10px;
}

.Good{
    font-size: xx-large;
    font-size: 20px;
    margin-left: 45px;
}

.Sure{
    font-size: xx-large;
    font-size: 20px;
    margin-left: 240px;
}

.luck{
    font-size: xx-large;
    font-size: 30px;
    margin-left: 280px;
    font-weight: bolder;
}

button{
    position: absolute;
    bottom: 50px;
    right:700px ;
    height: 60px;
    width: 150px;
    border-radius: 30px;
    font-weight:bold;
    font-size: 20px;
    color:rgba(14, 14, 14, 0.65); 
    border-color: yellow;
    background-color: yellow;

}